{% extends 'netsooapp/includes/base.html' %}


<body>

  {% block content %}

    {%  include 'netsooapp/includes/head.html' %}
    
     {%  include 'netsooapp/includes/side.html' %}



  <main id="main" class="main">

    <div class="pagetitle">
      <h1>PLAN</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Commmerce</li>
          <li class="breadcrumb-item active">plan</li>

        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row align-items-top">
        <div class="col-lg-4">
      
          <!-- Card with an image on top -->
          <div class="card">
            <div class="pay-info-box card">
              <h5 class="m-auto">&euro;14/month</h5>
            </div>
            <div class="card-body">
              <h5 class="card-title m-auto">Starter Plan</h5>

              <ul class="list-group">
                <li class="list-group-item"><i class="bi bi-incognito me-1 text-primary"></i> 2500 Post and Planning</li>
                <li class="list-group-item"><i class="bi bi-check-circle me-1 text-primary"></i> Report</li>
                <li class="list-group-item"><i class="bi bi-check-circle me-1 text-primary"></i> Support</li>
                <li class="list-group-item"><i class="bi bi-check-circle me-1 text-primary"></i> Analysis of competitor and metric of each social media</li>
                <li class="list-group-item"><i class="bi bi-check-circle me-1 text-primary"></i>multiple SmartLink</li>
                <li class="list-group-item">
                  <i class="bi bi-check-circle me-1 text-primary"></i>
                  Artificial to create post texts for post, videos  and image 
                  (texts , tags , keywords and title for each publication , whether it is a a tweet , an image or video)
                </li>
                <li class="list-group-item"><i class="bi bi-check-circle me-1 text-primary"></i>Up to 5 profile</li>
                <li class="list-group-item"><i class="bi bi-check-circle me-1 text-primary"></i>free 14 days</li>
              </ul><!-- End List group With Icons -->
            </div>
          </div><!-- End Card with an image on top -->


        </div>
        <div class="col-lg-4">
          <!-- Card with an image on top -->
          <div class="card">
            <div class="pay-info-box card">
              <h5 class="m-auto">&euro;35/month</h5>
            </div>
            <div class="card-body">
              <h5 class="card-title">Advanced Plan</h5>
              <ul class="list-group">
                <li class="list-group-item"><i class="bi bi-safe me-1 text-primary"></i> 6000 Post and Planning</li>
                <li class="list-group-item"><i class="bi bi-check-circle me-1 text-primary"></i> Report</li>
                <li class="list-group-item"><i class="bi bi-check-circle me-1 text-primary"></i> Support</li>
                <li class="list-group-item"><i class="bi bi-check-circle me-1 text-primary"></i> inbox, direct message respose and comment</li>
                <li class="list-group-item"><i class="bi bi-check-circle me-1 text-primary"></i> Analysis of competitor and metric of each social media</li>
                <li class="list-group-item"><i class="bi bi-check-circle me-1 text-primary"></i>multiple SmartLink</li>
                <li class="list-group-item">
                  <i class="bi bi-check-circle me-1 text-primary"></i>
                  Artificial to create post texts for post, videos  and image 
                  (texts , tags , keywords and title for each publication , whether it is a a tweet , an image or video)
                </li>
                <li class="list-group-item"><i class="bi bi-check-circle me-1 text-primary"></i>Up to 15 profile</li>
                <li class="list-group-item"><i class="bi bi-check-circle me-1 text-primary"></i>free 14 days</li>
              </ul><!-- End List group With Icons -->
            </div>
          </div><!-- End Card with an image on top -->
        </div>
         <div class="col-lg-4">
                 <!-- Card with an image on top -->
                 <div class="card">
                  <div class="pay-info-box card">
                    <h5 class="m-auto">&euro;99/month</h5>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Enterprise Plane</h5>
                    <ul class="list-group">
                      <li class="list-group-item"><i class="bi bi-trophy me-1 text-primary"></i> 12000 Post and Planning</li>
                      <li class="list-group-item"><i class="bi bi-check-circle me-1 text-primary"></i> Report</li>
                      <li class="list-group-item"><i class="bi bi-check-circle me-1 text-primary"></i> Support</li>
                <li class="list-group-item"><i class="bi bi-check-circle me-1 text-primary"></i> inbox, direct message respose and comment</li>
                <li class="list-group-item"><i class="bi bi-check-circle me-1 text-primary"></i>Advance content scheduling with data analysis toools</li>
                <li class="list-group-item"><i class="bi bi-check-circle me-1 text-primary"></i> Detail monitoring of analytics and performance of advertising post campaign</li>

                      <li class="list-group-item"><i class="bi bi-check-circle me-1 text-primary"></i> Analysis of competitor and metric of each social media</li>
                      <li class="list-group-item"><i class="bi bi-check-circle me-1 text-primary"></i>multiple SmartLink</li>
                      <li class="list-group-item">
                        <i class="bi bi-check-circle me-1 text-primary"></i>
                        Artificial to create post texts for post, videos  and image 
                        (texts , tags , keywords and title for each publication , whether it is a a tweet , an image or video)
                      </li>
                      <li class="list-group-item"><i class="bi bi-check-circle me-1 text-primary"></i>Up to 50 profile</li>
                      <li class="list-group-item"><i class="bi bi-check-circle me-1 text-primary"></i>free 14 days</li>
                    </ul><!-- End List group With Icons -->
                  </div>
                </div><!-- End Card with an image on top -->
        </div>
      </div>
    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NetSoo</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
 {%  endblock %}
  
</body>

</html>