{% extends 'netsooapp/includes/base.html' %}


<body>
    {% block content %}

    {%  include 'netsooapp/includes/head.html' %}
    
     {%  include 'netsooapp/includes/side.html' %}
 

 
  <main id="main" class="main">
    <section class="section1">
      <div class="ca-content">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Make Viral Post</h5>
              <!-- Quill Editor Default -->
              <div class="quill-editor-default">
                <p>Post</p>
                <p>create post about trend issue in United State <strong>about</strong> Economy</p>
              </div>
              <!-- End Quill Editor Default -->
            </div>
          </div>

      </div>
    </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NetSoo</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  {%  endblock %}

</body>

</html>